@font-face {
    font-family: "Impact";
    src: url(fonts/impact.ttf) format("ttf");
}


html {
    background-color: black;
    color: white;
    font-family: "Impact", Arial, sans-serif;
    letter-spacing: 0.15em;
    font-size: 24px;
}

header,
.container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

header {
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1rem;
}

ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

li {
    margin: 1rem;
}

.banner {
    background-image: url("images/committeh.jpg");
    height: 540px;
    background-repeat: no-repeat;
    background-position: center;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
	text-shadow:
		-1.5px -1.5px 0 #000,
		1.5px -1.5px 0 #000,
		-1.5px 1.5px 0 #000,
		1.5px 1.5px 0 #000;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

section {
    padding: 1rem;
}

img {
    max-width: 400px;
}

#mission,
#employees {
    background-color: #111;
}